# <font color="Yellow"><h3 align="center">DataFrame</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [1]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   1/2/2017           35          7  Sunny
2   1/3/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/5/2017           32          4   Rain
5   1/6/2017           31          2  Sunny
6   1/7/2017           32          4   Rain
7   1/8/2017           33          5   Rain
8   1/9/2017           45          2  Sunny
9  1/10/2017           62          3  Sunny

### We can create this table via a dictionary too

In [2]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
dff = pd.DataFrame(weather_data)
dff

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.shape # rows, columns = df.shape

(10, 4)

## <font color='green'><u>Rows</u></font>

#### It will print only few initial rows

In [4]:
df.head() # df.head(3) it will print first 3 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

#### It will print only few last rows

In [5]:
df.tail() # df.tail(2) i will print last 2 rows

         day  temperature  windspeed  event
5   1/6/2017           31          2  Sunny
6   1/7/2017           32          4   Rain
7   1/8/2017           33          5   Rain
8   1/9/2017           45          2  Sunny
9  1/10/2017           62          3  Sunny

In [6]:
df[0:8] #[start:end(not included because starts from 0):steps]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
6  1/7/2017           32          4   Rain
7  1/8/2017           33          5   Rain

## <font color='green'><u>Columns</u></font>

In [7]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df['day'] # or df.day

0     1/1/2017
1     1/2/2017
2     1/3/2017
3     1/4/2017
4     1/5/2017
5     1/6/2017
6     1/7/2017
7     1/8/2017
8     1/9/2017
9    1/10/2017
Name: day, dtype: object

In [9]:
type(df['day'])

pandas.core.series.Series

In [10]:
df[['day','temperature','event']]

         day  temperature  event
0   1/1/2017           32   Rain
1   1/2/2017           35  Sunny
2   1/3/2017           28   Snow
3   1/4/2017           24   Snow
4   1/5/2017           32   Rain
5   1/6/2017           31  Sunny
6   1/7/2017           32   Rain
7   1/8/2017           33   Rain
8   1/9/2017           45  Sunny
9  1/10/2017           62  Sunny

## <font color='green'><u>Operations On DataFrame</u></font>

In [11]:
df['temperature'].max()

np.int64(62)

#### df[df.temperature>30]  
#### if the column name doesn't have spaces in between it, then this format/format can be used

In [12]:
df[df['temperature']>30]

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   1/2/2017           35          7  Sunny
4   1/5/2017           32          4   Rain
5   1/6/2017           31          2  Sunny
6   1/7/2017           32          4   Rain
7   1/8/2017           33          5   Rain
8   1/9/2017           45          2  Sunny
9  1/10/2017           62          3  Sunny

In [13]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

9    1/10/2017
Name: day, dtype: object

In [14]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

         day  temperature  windspeed  event
9  1/10/2017           62          3  Sunny

In [15]:
df[['day','temperature']][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

         day  temperature
9  1/10/2017           62

In [16]:
df['temperature'].std()

np.float64(10.77239269820983)

In [17]:
df[['temperature', 'windspeed']].std()

temperature    10.772393
windspeed       1.988858
dtype: float64

In [18]:
df['temperature'].mean()

np.float64(35.4)

In [19]:
df['event'].max() # But mean() won't work since data type is string

'Sunny'

In [20]:
df.describe() #print statistics on integer data

       temperature  windspeed
count    10.000000  10.000000
mean     35.400000   4.200000
std      10.772393   1.988858
min      24.000000   2.000000
25%      31.250000   2.250000
50%      32.000000   4.000000
75%      34.500000   5.750000
max      62.000000   7.000000

**Google pandas series operations to find out list of all operations:**

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='green'>set_index</font>

In [21]:
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   1/2/2017           35          7  Sunny
2   1/3/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/5/2017           32          4   Rain
5   1/6/2017           31          2  Sunny
6   1/7/2017           32          4   Rain
7   1/8/2017           33          5   Rain
8   1/9/2017           45          2  Sunny
9  1/10/2017           62          3  Sunny

In [22]:
df.set_index('day')

           temperature  windspeed  event
day
1/1/2017            32          6   Rain
1/2/2017            35          7  Sunny
1/3/2017            28          2   Snow
1/4/2017            24          7   Snow
1/5/2017            32          4   Rain
1/6/2017            31          2  Sunny
1/7/2017            32          4   Rain
1/8/2017            33          5   Rain
1/9/2017            45          2  Sunny
1/10/2017           62          3  Sunny

#### since the above function will return a new data frame without changing the original df, we can either make a variable for ir or if we want to change the original df then do **inplace=True**

In [23]:
df.set_index('day', inplace=True)

In [24]:
df

           temperature  windspeed  event
day
1/1/2017            32          6   Rain
1/2/2017            35          7  Sunny
1/3/2017            28          2   Snow
1/4/2017            24          7   Snow
1/5/2017            32          4   Rain
1/6/2017            31          2  Sunny
1/7/2017            32          4   Rain
1/8/2017            33          5   Rain
1/9/2017            45          2  Sunny
1/10/2017           62          3  Sunny

In [25]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017',
       '1/7/2017', '1/8/2017', '1/9/2017', '1/10/2017'],
      dtype='object', name='day')

In [26]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [27]:
df.reset_index(inplace=True)
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [28]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

             day  temperature  windspeed
event
Rain    1/1/2017           32          6
Sunny   1/2/2017           35          7
Snow    1/3/2017           28          2
Snow    1/4/2017           24          7
Rain    1/5/2017           32          4
Sunny   1/6/2017           31          2
Rain    1/7/2017           32          4
Rain    1/8/2017           33          5
Sunny   1/9/2017           45          2
Sunny  1/10/2017           62          3

In [29]:
df.reset_index(inplace=True)

In [30]:
df.set_index('temperature',inplace=True) # this is kind of building a hash map using event as a key

In [34]:
df

             event        day  windspeed
temperature
32            Rain   1/1/2017          6
35           Sunny   1/2/2017          7
28            Snow   1/3/2017          2
24            Snow   1/4/2017          7
32            Rain   1/5/2017          4
31           Sunny   1/6/2017          2
32            Rain   1/7/2017          4
33            Rain   1/8/2017          5
45           Sunny   1/9/2017          2
62           Sunny  1/10/2017          3

In [74]:
df.reset_index(inplace=True)

In [75]:
df

   event  temperature        day  windspeed
0   Rain           32   1/1/2017          6
1  Sunny           35   1/2/2017          7
2   Snow           28   1/3/2017          2
3   Snow           24   1/4/2017          7
4   Rain           32   1/5/2017          4
5  Sunny           31   1/6/2017          2
6   Rain           32   1/7/2017          4
7   Rain           33   1/8/2017          5
8  Sunny           45   1/9/2017          2
9  Sunny           62  1/10/2017          3

In [76]:
df.set_index('windspeed',inplace=True) # this is kind of building a hash map using event as a key

In [77]:
df

           event  temperature        day
windspeed
6           Rain           32   1/1/2017
7          Sunny           35   1/2/2017
2           Snow           28   1/3/2017
7           Snow           24   1/4/2017
4           Rain           32   1/5/2017
2          Sunny           31   1/6/2017
4           Rain           32   1/7/2017
5           Rain           33   1/8/2017
2          Sunny           45   1/9/2017
3          Sunny           62  1/10/2017

#### loc (Label Location) is used when you want to select rows and columns using their names or labels (like column names and row indexes). This is like saying, "Give me the item with this label."

#### iloc (Integer Location) is used when you want to select rows and columns using their position (like the first row, second row, etc.). Think of it like saying, "Give me the item at position 1."

In [79]:
df.loc[7]

           event  temperature       day
windspeed
7          Sunny           35  1/2/2017
7           Snow           24  1/4/2017

In [80]:
df.loc[6]

event              Rain
temperature          32
day            1/1/2017
Name: 6, dtype: object

In [81]:
df.iloc[0]

event              Rain
temperature          32
day            1/1/2017
Name: 6, dtype: object