# <font color="yellow"><h3 align="center">Pandas Concatenate Tutorial</h3></font>

## <font color='green'>Basic Concatenation</font>

In [4]:
import pandas as pd

ca_weather = pd.DataFrame({
    "city": ["calgary","toronto","regina"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
ca_weather

      city  temperature  humidity
0  calgary           32        80
1  toronto           45        60
2   regina           30        78

In [5]:
us_weather = pd.DataFrame({
    "city": ["seattle","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

      city  temperature  humidity
0  seattle           21        68
1  chicago           14        65
2  orlando           35        75

In [6]:
df = pd.concat([ca_weather, us_weather])
df

      city  temperature  humidity
0  calgary           32        80
1  toronto           45        60
2   regina           30        78
0  seattle           21        68
1  chicago           14        65
2  orlando           35        75

## <font color='green'>Ignore Index</font>

In [7]:
df = pd.concat([ca_weather, us_weather], ignore_index=True)
df

      city  temperature  humidity
0  calgary           32        80
1  toronto           45        60
2   regina           30        78
3  seattle           21        68
4  chicago           14        65
5  orlando           35        75

## <font color='green'>Concatenation And Keys</font>

In [17]:
df = pd.concat([ca_weather, us_weather], keys=["canada", "us"])
df

             city  temperature  humidity
canada 0  calgary           32        80
       1  toronto           45        60
       2   regina           30        78
us     0  seattle           21        68
       1  chicago           14        65
       2  orlando           35        75

In [27]:
df.loc["us"]

       city  humidity  temperature
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

In [19]:
df.loc["canada"]

      city  temperature  humidity
0  calgary           32        80
1  toronto           45        60
2   regina           30        78

## <font color='green'>Concatenation Using Index</font>

In [20]:
temperature_df = pd.DataFrame({
    "city": ["calgary","toronto","regina"],
    "temperature": [32,45,30],
}, index=[0,1,2])
temperature_df

      city  temperature
0  calgary           32
1  toronto           45
2   regina           30

In [27]:
windspeed_df = pd.DataFrame({
    "city": ["calgary","regina"],
    "windspeed": [7,12],
}, index=[0,2])
windspeed_df

      city  windspeed
0  calgary          7
2   regina         12

In [30]:
df = pd.concat([temperature_df,windspeed_df], axis = 1)
df

      city  temperature     city  windspeed
0  calgary           32  calgary        7.0
1  toronto           45      NaN        NaN
2   regina           30   regina       12.0

## <font color='green'>Concatenate dataframe with series</font>

In [51]:
s = pd.Series(["Humid","Dry","Rain"], name="event")
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [52]:
df = pd.concat([temperature_df,s],axis=1)
df

      city  temperature  event
0  calgary           32  Humid
1  toronto           45    Dry
2   regina           30   Rain

In [53]:
ws = pd.Series([7,12], name="windspeed")
ws

0     7
1    12
Name: windspeed, dtype: int64

In [55]:
# df = pd.concat([temperature_df,s,ws],axis=1)
df = pd.concat([df,ws],axis=1)
df

      city  temperature  event  windspeed  windspeed
0  calgary           32  Humid        7.0        7.0
1  toronto           45    Dry       12.0       12.0
2   regina           30   Rain        NaN        NaN